@charset 'UTF-8';

body {
    background-color: #91EE77;
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    color: #45B825;
}

h1#principal{
    text-align: center;
    background-color:#416B36;
    color: white;
}

h2{
    color: #286B15;
}

.basico{
     color: #1d7507;
     
}
.intermediario{
    color: rgb(147, 147, 15);
}

.avancado{
    color: rgb(113, 14, 14);
}


